body{
	background-color: #ffffff;
	font-family: sans-serif;
}
.logo{
	width: 15%;
	position: relative;
}
.nav{
	display: flex;
	justify-content: left;
}
.nav ul{
	display: flex;
	justify-content: left;
	list-style: none
}
.nav a{
	padding: 10px 10px;
	border:1px solid white;
	border-radius: 2px;
	background-color: green;
	color: white;
	text-decoration: none;
}
.nav a:hover{
	padding: 15px 15px;
}
.slide-carousel img{
	width:70%;
}
